-- Audit Logs Migration
CREATE TABLE IF NOT EXISTS audit_logs (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    user_id UUID REFERENCES auth.users(id),
    action TEXT NOT NULL,
    table_name TEXT,
    record_id UUID,
    old_data JSONB,
    new_data JSONB,
    created_at TIMESTAMPTZ DEFAULT now()
);

-- RLS
ALTER TABLE audit_logs ENABLE ROW LEVEL SECURITY;
CREATE POLICY \
Allow
authenticated
users
to
insert
audit
logs\ 
ON audit_logs FOR INSERT TO authenticated WITH CHECK (true);
CREATE POLICY \Allow
authenticated
users
to
view
audit
logs\ 
ON audit_logs FOR SELECT TO authenticated USING (true);

